*.dep
depend
*.o
*.a
*.dSYM
*.swp
.DS_Store

doxygen/

googletest

test/bin/
test/tmp/
test/obj/

util/concatenate
util/segsort
util/versort
util/fourdbin
util/cropen
util/creadwrite
util/assess
util/filemake
util/makerep
util/makerepn1
util/makerepn2
util/minmax
util/traceanalysis
util/segy2kml
util/radon

examples/cmodprm
examples/sort
examples/csort
examples/minmax
examples/cminmax
examples/hellow
examples/example1
examples/cexample1
examples/cexample2
