*.dep
depend
*.o
*.a
doxygen/
genfiles
unittests
spectests
googletest
concatenate
segsort
versort
fourdbin
cropen
creadwrite
assess
filemake
makerep
makerepn1
makerepn2
minmax
traceanalysis
minmax
cmodprm
sort
csort
cminmax
hellow
example1
cexample1
cexample2
gen_segycompare.cc
